* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  height: 10vh;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1{
  color: red;
}
body{
  background-color: grey;
}
#cont-film{
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  background-color: grey;
}
.info{
  position: absolute;
  width: 18%;
  height: 54%;
  background-color: black;
  color: white;
  border: white 1px solid;
  display: none;
}
.lista-info{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  margin-bottom: 24px;
  flex-basis: calc(100% / 3);
}
ul {
list-style-type: none;
}
li{
  font-size: 12px;
  padding-bottom: 12px;
}
@media screen and (max-width: 1200px){
  .info{
    width: 37%;
  }
  .lista-info{
    flex-basis: calc(100% / 2);
  }
}
